.footer p{
    color: #FFC900;
    background-color: #1A5F7A;
    position: fixed;
    padding: 10px;     
    margin: 0;
    text-align: center;    
    bottom: 0; 
    width: 100%;
}

.footer a {
    text-decoration: none !important;
    color: #FFC900;
}

.pulsate {
    -webkit-animation: pulsate 3s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.5;
}

@-webkit-keyframes pulsate {
    0% { 
        opacity: 0.5;
    }
    50% { 
        opacity: 1.0;
    }
    100% { 
        opacity: 0.5;
    }
}