.form-control-teste{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 50px;
    border: 1px solid #ffc5dd;
    height: 60px;
    padding: 0px 3px 0px 8px;
}

.form-control-teste input{
    padding: 4px;
    flex-grow: 1;
    background-color: transparent;
    outline: none;
    border: none;
    margin-right: 8px;
}

.form-control-teste button{
    height: 54px;
    width: 94px;
    background-color: #ff0266;
    color: #ffffff;
    text-transform: uppercase;
    border-style: none;
    border-radius: 50px;
}