/* .form-controls {
    display:block;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    text-align: left;
}

.form-control label {
    color: #086E7D;
    font-size: larger;
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
}

.form-control input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom: 1rem;
}

.form-control button{
    position: absolute;
    margin-right: 200px;
}

.button-form{
    text-align: right;
} */

.form-control-teste{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0 auto; */
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 12px;
    border: 1px solid #086E7D;
    height: 40px;
    padding: 0px 3px 0px 8px;
}

.form-control-teste input{
    padding: 4px;
    flex-grow: 1;
    background-color: transparent;
    outline: none;
    border: none;
    margin-right: 8px;
}

.focus {
    background: yellow;
    color: #000;
    border: 1px solid red;
}

.form-control-teste button{
    cursor: pointer;
    height: 31px;
    width: 70px;
    background-color: #FFC900;
    border: 1px solid #086E7D;
    color: #086E7D;
    /* font-size: 100%; */
    text-transform: uppercase;
    /* border-style: none; */
    border-radius: 10px;
}